In [161]:
#import the necessary modules 
import pandas as pd
import numpy as np
import camelot as cm

In [162]:
#read csv file
table = cm.read_pdf('python/data_gathering/tables/table4.pdf', pages= "1-end")

In [163]:
#The table object shows us how many tables are in the excel file
table

In [168]:
#See the shape of the table
table[0], table[1], table[3], table[4]

(<Table shape=(5, 4)>,
 <Table shape=(5, 4)>,
 <Table shape=(5, 4)>,
 <Table shape=(5, 4)>)

In [165]:
#see the report of the extraction 
table[0].parsing_report, table[1].parsing_report, table[2].parsing_report, table[3].parsing_report, table[4].parsing_report, table[5].parsing_report

({'accuracy': 100.0, 'whitespace': 0.0, 'order': 1, 'page': 1},
 {'accuracy': 100.0, 'whitespace': 0.0, 'order': 2, 'page': 1},
 {'accuracy': 0, 'whitespace': 100.0, 'order': 3, 'page': 1},
 {'accuracy': 100.0, 'whitespace': 0.0, 'order': 1, 'page': 2},
 {'accuracy': 100.0, 'whitespace': 0.0, 'order': 2, 'page': 2},
 {'accuracy': 0, 'whitespace': 100.0, 'order': 3, 'page': 2})

In [166]:
table[4].df

,0,1,2,3
0,Water sample,blue % transmitted,green % transmitted,red % transmitted
1,+ 1 tsp milk,13/13 = 100%,14/14 = 100%,12/12 = 100%
2,+1tsp milk + blue,10/13 = 77%,9/14 = 64%,6/12 = 50%
3,+1tsp milk +green,9/13 = 69%,13/14 = 93%,7/12 = 58%
4,+1tsp milk + tea,7/13 = 54%,9/14 = 69%,9/12 = 75%

In [167]:
#Analyzing the table as a panda dataframe
pd.set_option('max_columns', 10)
def visualize_table(table_index):
    for i in table_index:
        print(table[i].df.head(100))

tables = [0,1,3,4]
visualize_table(tables)

             0               1                2              3
0       sample  blue LED value  green LED value  red LED value
1  clear water              97               19             79
2   blue water              73               11             13
3  green water              35               15             14
4    tea water              33               13             70
             0                   1                    2                  3
0       sample  blue % transmitted  green % transmitted  red % transmitted
1  clear water        97/97 = 100%         19/19 = 100%       79/79 = 100%
2   blue water         73/97 = 75%          11/19 = 58%        13/79 = 17%
3  green water         35/97 = 36%          15/19 = 79%        14/79 = 18%
4    tea water         33/97 = 34%          13/19 = 68%        70/79 = 91%
                   0               1                2              3
0             sample  blue LED value  green LED value  red LED value
1       + 1 tsp milk              13               14             12
2  +1tsp milk + blue              10                9              6
3  +1tsp milk +green               9               13              7
4   +1tsp milk + tea               7                9              9
                   0                   1                    2  \
0       Water sample  blue % transmitted  green % transmitted
1       + 1 tsp milk        13/13 = 100%         14/14 = 100%
2  +1tsp milk + blue         10/13 = 77%           9/14 = 64%
3  +1tsp milk +green          9/13 = 69%          13/14 = 93%
4   +1tsp milk + tea          7/13 = 54%           9/14 = 69%

                   3
0  red % transmitted
1       12/12 = 100%
2         6/12 = 50%
3         7/12 = 58%
4         9/12 = 75%

Now you can export it to what ever file of your choice e.g. to_csv. 
Alternatively you can use to_json(), to_excel() to_html() or to_sqlite() methods to export the table as JSON, Excel, HTML files or a sqlite database respectively.

In [175]:
#save your files to csv. 
#using a function and a loop saves you a lot of time

pd.set_option('max_columns', 10)
def save_table(table_index):
    for i in table_index:
        table[i].to_csv('python/data_gathering/tables/extracted/' + str(i) + '.csv', index = False)

tables = [0,1,3,4]
save_table(tables)

In [179]:
#Export all at once, this method is best and faster
table.export('python/data_gathering/tables/tables.csv', f = 'csv')

In [180]:
#Export all at once, But this time, as a zip file. You set: compress to True
table.export('python/data_gathering/tables/tables_compress.csv', f = 'csv', compress= True)